<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @list.nombre %>
</p>

<p>
  <strong>Id usuario:</strong>
  <%= @list.id_usuario %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
