<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @task.nombre %>
</p>

<p>
  <strong>Id lista:</strong>
  <%= @task.id_lista %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
